body{
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
body * {
  box-sizing: border-box;
}
.container{
  max-width: 1338px;
  margin: 0 auto;
}
.button {
  margin: 10px;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
}
.logo{
  color: #e3b873;
  font-family: 'Nunito Sans', sans-serif;
}
.header{
  background-color: black;
}
.header-content{
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}
.header-nav{
  list-style: none;
  display: flex;
}
.header-nav-item{
  margin-right: 47px;
  font-family: 'Nunito Sans', sans-serif;
}
.header-nav-item a{
  text-decoration: none;
  color: white;
}
.color-tel{
  color: #e3b873;
}

.image{
  background-image: url(../images/image.jpg);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}
.image-overlay{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}
.image-container{
  position: relative;
  z-index: 1;
}
.title{
  margin: 0;
  font-family: 'Yeseva One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 576px;
  height: 105px;
}
.color-rostov{
  color: #e3b873;
}
.title-text{
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 36px;
color: #FFFFFF;
width: 504px;
height: 89px;
}
.fon{
background: rgba(19, 19, 19, 1);
}
.razmer{
max-width: 1338px;
margin: 0 auto;
}
.step{
display: flex;
align-items: left;
justify-content: flex-end;
}
.subtitle{
list-style: none;
display: flex;
padding: 52px;
}
.subtitle_item{
margin-left: 70px;
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #E3B873;
}
.part-two{
display: flex;
justify-content: space-around;
}
.lil{
max-width: 600px;
}
.title_two{
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 36px;
text-transform: uppercase;
color: #E3B873;
}
.title-p{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 27px;
color: #FFFFFF;
}
.lp{
float: left;
margin: 0 25px 25px 0;
width: 180px;
}
.pl{
float: left;
}
.lip{
font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;
color: #E3B873;
}
.vector{
 margin-top: 340px;
 color: white;
}
.vec{
  display: flex;
  letter-spacing: 40px
}
.tor{
  list-style-type: none;
}
.ct{
  font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.ph{
  text-align: center;
  padding-bottom: 250px;
}
.line{
  margin-bottom: 12px;
}
.fonwhite{
  margin-top: -220px;
  text-align: center;
}
.video{
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  background-image: url(../images/Ellipse.png);
  background-position: center;
  background-repeat: no-repeat;
}